<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>テストページ</title>
  </head>
  <body>
    <h1>main page</h1>
    <p>これはmainpageです。</p>
    <div>
        <p class="side_by_side">Dataset</p>
        <input type="file" name="file" class="radio">
    </div>
    <div>
        <p class="side_by_side" name="items">Data transformation</p>
        <div class="side_by_side">
            <label class="check_lb">
            <input type="radio" name="DataTransformation" class="radio">A1
            </label>
            <label class="check_lb">
            <input type="radio" name="DataTransformation" class="radio">A2
            </label>
            <label class="check_lb">
            <input type="radio" name="DataTransformation" class="radio">A3
            </label>
            <label class="check_lb">
            <input type="radio" name="DataTransformation" class="radio">B1
            </label>
            <label class="check_lb">
            <input type="radio"name="DataTransformation" class="radio">B2
            </label>
            <label class="check_lb">
            <input type="radio"name="DataTransformation" class="radio">Fi
            </label>
            <label class="check_lb">
            <input type="radio" name="DataTransformation" class="radio">Fr
            </label>
        </div>
    </div>
    <div>
        <p class="side_by_side" name="items">Thresholding Rule</p>
        <div class="side_by_side">
            <label class="check_lb">
            <input type="radio" name=" ThresholdingRule" class="radio">Soft
            </label>
            <label class="check_lb">
            <input type="radio" name=" ThresholdingRule" class="radio">Hard
            </label>
        </div>
    </div>
    <div>
    <p class="side_by_side" name="items">Threshold Value</p>
        <div class="side_by_side">
            <label class="check_lb">
            <input type="radio" name="ThresholdValue" class="radio">Universal
            </label>
            <label class="check_lb">
            <input type="radio" name="ThresholdValue" class="radio">Level-dependent Universal
            </label>
            <label class="check_lb">
            <input type="radio" name="ThresholdValue" class="radio">Leave-out-half Cross-validation
            </label>
        </div>
        <button type="submit" class="click" onclick="buttonClick1()">Estimation</button>
    </div>
    </form>
  </body>
</html>
